# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtualenv
venv/
ENV/
env/
.env

# Environment variables
.env

# Data and models
data/processed/
data/raw/
models/mlruns/
models/moj-bot/
mlruns/
modeli/mlruns/

# Editors
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Distribution / packaging
dist/
build/
*.egg-info/
